/*Only html source required <div id="demo"/> */
body {
  padding: 0;
  margin: 0;
body{background image: url(https://plus.unsplash.com/premium_photorop&w=1886&q=80");
     background-color: #cccccc;
    }
